{% include './templates/header.php' %}

    <div class="alert alert-danger" role="alert">Something went wrong.
        <br>Code: {{ status.code }}
        <br>Message: {{ status.message }}
        <br>Reason: {{ status.reason }}
    </div>
    <a href="{{ urls.home }}">Back to welcome page</a>
    <hr class="featurette-divider">
        
{% include './templates/footer.php' %}
